@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #222;
    background-color: lightgrey;
}

.container-content {
    background-color: white;
}


.navbar {
    padding: .8rem;
    background-color: #313236;
    border-radius: 2px;
}

.navbar a:hover {
    color: #222222;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.projects {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.projectimg {
  width: 80%;
}

.contact {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.contact hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 30%;
    margin-top: .8rem;
    margin-bottom: .9rem;
}





